<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">

  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/css/theme.css" rel="stylesheet" type="text/css">

  	<style>
  	  #messages { list-style-type: none; margin-left:5px; padding: 0; }
  	  #messages li:nth-child(odd) { background: #eee; }

  	  ul {
		   list-style-position: inside;
		}
    </style>

  <title>Lecture # -- LectureChat</title>
</head>

<body class="bg-dark" style="overflow:hidden;">
	<%- include navbar.ejs %>
	<div class="container-fluid">
   		<div class="row">
			<!-- pdf -->
			<div class="col-sm-8">
				<div class="embed-responsive embed-responsive-tall pdf"  >
					<iframe class="embed-responsive-item pdf" src="/pdf/<%= pdf %>"></iframe>
				</div>	
			</div>
			<!-- chatbox -->
			<div class="col-sm-4">
	        	<div class="panel panel-default chatbox">
	        		<div class="panel-heading-blue">Chat</div>
	      			<div class="panel-body">
						<!-- messages -->
						<div class="chat-messages">
							<ul id="messages"></ul>
						</div>
						<!-- send text -->
						<div class="panel-footer">
							<form action"">
								<div class="input-group">
								<input id="m" autocomplete="off" type="text" class="form-control" 
								placeholder="Discuss your lecture content" aria-describedby="basic-addon2">
								<span class="input-group-addon blue" id="basic-addon2">Send</span>
								</div>
							</form>
						</div>

	      			</div>
				</div>
			</div>
    	</div>
	</div>
	<!-- <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->

	<script src="/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script>

		var socket = io();
		var room = <%= roomID %>;
		var name = document.cookie.split("=")[1];

		window.onload= function(){
			console.log("in room " + room);
			socket.emit('room', room);
			socket.emit('name', name);
		}

	  	$(function () {
		    $('form').submit(function(){
		    	socket.emit('chat message', $('#m').val());
		    	$('#m').val('');
		    	return false;
		    });
		    socket.on('chat message', function(msg){
		      	$('#messages').append($('<li>').text(msg));
		    });
	  	});

	</script>
 	
</body>
</html>