<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> -->
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/css/theme.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">

  <title>LectureChat</title>
</head>

<body>
  <%- include navbar.ejs %>

  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to Lecture Chat!</h1>
      <p>
        Chat with your classmates in lecture to enhance your learning experience.
      </p>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">

      <a class="col-md-6 main-page-button main-page-button-left" href="/viewer" role="button">
        <br><br><br>
        <i class="material-icons md-48">description</i>
        <h2>Course PDFs</h2>
        <p>An archive of PDFs for your courses. </p>
        
      </a>

      <a class="col-md-6 main-page-button main-page-button-right" href="/select" role="button">
        <br><br><br>
        <i class="material-icons md-48">class</i>
        <h2>Courses</h2>
        <p>Find your course here. </p>
      </a>
    </div>

    <hr>

    <footer>
      <p>&copy; ScrumVaders 2017</p>
    </footer>
  </div> <!-- /container -->

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
