.embed-responsive-tall {
  padding-bottom: 110%;
}

.chatbox {
  height: calc(100vh - 145px);  
}

.chat-messages {
  height:calc(100vh - 190px);
  overflow:auto;
}

.pdf {
  border-radius:4px;
}

.blue {
  color: white;
  background-color:rgb(25, 90, 140);
}

.panel-heading-blue {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  background-color: rgb(25, 90, 140);
  color: white;  
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.bg-dark {
  background-color: rgb(54, 54, 54);
}
.navbar-brand {
  font-size: 32px;
}

.navbar-logo {
	margin-top:-8px;
	width:40px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  /*text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);*/
  /*color: rgb(209, 255, 240);*/
  color: white;
}

 .navbar-inverse {
 	background-color: rgb(25, 90, 140);
}

.lecture-list {
	list-style: none;
}

.message-bubble 
{
    padding: 10px 0px 10px 0px;
}

.message-bubble:nth-child(even) { background-color: #F5F5F5; }

.message-bubble > *
{
    padding-left: 10px;    
}

.panel-body { padding: 0px; }

.panel-heading { background-color: #3d6da7 !important; color: white !important; }