.btn-lecture {
  display: inline-block;
  /* padding: 6px 12px; */
  margin-bottom: 0px;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color:transparent;
  color: inherit;
  text-align: left;
  font-size: 20px;
  height: 50px;
  width: 100%;
  vertical-align: middle;
}
.btn-lecture:hover {
  display: inline-block;
  /* padding: 6px 12px; */
  margin-bottom: 0px;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color:rgb(25, 90, 140);
  color: white;
  text-align: left;
  /* height: 20%; */
  width: 120%;
  vertical-align: middle;
  border-radius: 0;
}

.btn-lecture-delete {
  display: inline-block;
  /* padding: 6px 12px; */
  margin-bottom: 0px;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color:rgb(185, 22, 22);
  margin: 1px;
  color: white;
  text-align: left;
  height: 50px;
  width: 100%;
  vertical-align: middle;
  
}
.btn-lecture-delete:hover {
  display: inline-block;
  /* padding: 6px 12px; */
  margin-bottom: 0px;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color:rgb(228, 31, 31);
  color: white;
  text-align: left;
  margin: 1px;
  /* height: 20%; */
  /* width: 40%; */
  vertical-align: middle;
}

.embed-responsive-tall {
  padding-bottom: 110%;
}

.main-page-button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color:rgb(25, 90, 140);
    color: white;
    text-align: center;
    height: 40%;
    vertical-align: middle;
}

.main-page-button:hover {
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color:rgb(61, 147, 184);
    color: white;
    text-align: center;
    text-decoration: none;
}

.main-page-button-left {
  border-right: 1px solid white;
}
.main-page-button-right {
  border-left: 1px solid white;
}

.chatbox {
  height: calc(100vh - 145px);  
}

.chat-messages {
  height:calc(100vh - 190px);
  overflow:auto;
}

.pdf {
  border-radius:4px;
}

.blue {
  color: white;
  background-color:rgb(25, 90, 140);
}



.panel-heading-blue {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  background-color: rgb(25, 90, 140);
  color: white;  
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.bg-dark {
  background-color: rgb(54, 54, 54);
}
.navbar-brand {
  font-size: 32px;
}

.navbar-logo {
	margin-top:-8px;
	width:40px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  /*text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);*/
  /*color: rgb(209, 255, 240);*/
  color: white;
}

 .navbar-inverse {
 	background-color: rgb(25, 90, 140);
}

.lecture-list {
	list-style: none;
}

.message-bubble 
{
    padding: 10px 0px 10px 0px;
}

.message-bubble:nth-child(even) { background-color: #F5F5F5; }

.message-bubble > *
{
    padding-left: 10px;    
}

.panel-body { padding: 0px; }

.panel-heading { background-color: #3d6da7 !important; color: white !important; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }